extends layout

block content  
  .container    
  <div class="alert alert-success">Soy Francisco Delgado. El Administrador y creador de esta web pública para mostrar todos los comentarios que subais desde vuestra aplicación móvil de PlanetCakes. Muchas gracias!!!!!. 
  </div>
